<section class="dsa41-panel dsa41-item-summary">
    <div class="dsa41-pill-row">
        {{#each summaryProperties}}
        <span class="dsa41-pill">{{this}}</span>
        {{/each}}
    </div>
</section>
