<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <section class="sheet-body dsa41-grid">
        <label>
            {{localize "DSA41.Weapon.group"}}
            <select name="system.group">
                {{#select system.group}}
                {{#each config.weaponGroups as |label key|}}
                <option value="{{key}}">{{localize label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </label>
        <label>
            {{localize "DSA41.Weapon.damage"}}
            <input name="system.damage" type="text" value="{{system.damage}}" />
        </label>
        <label>
            {{localize "DSA41.Weapon.attackModifier"}}
            <input name="system.attackModifier" type="number" value="{{system.attackModifier}}" />
        </label>
        <label>
            {{localize "DSA41.Weapon.parryModifier"}}
            <input name="system.parryModifier" type="number" value="{{system.parryModifier}}" />
        </label>
        <label>
            {{localize "DSA41.Weapon.initiativeModifier"}}
            <input name="system.initiativeModifier" type="number" value="{{system.initiativeModifier}}" />
        </label>
        <label>
            {{localize "DSA41.Weapon.range"}}
            <input name="system.range" type="text" value="{{system.range}}" />
        </label>
        <label>
            {{localize "DSA41.Weapon.weight"}}
            <input name="system.weight" type="text" value="{{system.weight}}" />
        </label>
        <label class="dsa41-stack">
            {{localize "DSA41.Sheet.description"}}
            <textarea name="system.description">{{system.description}}</textarea>
        </label>
        <label class="dsa41-stack">
            {{localize "DSA41.Sheet.notes"}}
            <textarea name="system.notes">{{system.notes}}</textarea>
        </label>
    </section>
</form>
