<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "fs2e.weapon.attackWith"}}</th>
                <th>{{localize "fs2e.weapon.damage"}}</th>
                <th>{{localize "fs2e.weapon.conceal"}}</th>
                <th>{{localize "fs2e.weapon.reload"}}</th>
                <th>{{localize "fs2e.weapon.mookBonus"}}</th>
                <th>{{localize "fs2e.weapon.pumpAction"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.attackWith">
                        {{#select system.attackWith}}
                        {{#each config.attackTypes as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.damage" type="text" value="{{system.damage}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.concealment" type="text" value="{{system.concealment}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.reload" type="text" value="{{system.reload}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.mookBonus" type="text" value="{{system.mookBonus}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.pumpAction" type="checkbox" {{checked system.pumpAction}} />
                </td>
            </tr>

        </table>
        <textarea name="system.description">{{system.description}}</textarea>
    </div>
</form>
