<nav class="dsa41-tabs" aria-label="Navigation">
    {{#each tabs}}
    <button type="button" class="dsa41-tab {{#if active}}is-active{{/if}}" data-tab="{{id}}">{{label}}</button>
    {{/each}}
</nav>
