<section class="dsa41-tab-panel {{#unless (eq activeTab 'biography')}}is-hidden{{/unless}}">
    <div class="dsa41-two-column">
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Sheet.description"}}</h3>
            <textarea name="system.description">{{system.description}}</textarea>
        </section>
        <section class="dsa41-panel">
            <h3>{{localize "DSA41.Sheet.notes"}}</h3>
            <textarea name="system.notes">{{system.notes}}</textarea>
        </section>
    </div>
</section>
